.suggestions {
  list-style: none;  
  max-height: 250px;
  overflow-y: auto;
  padding-left: 0;  
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);  
  background: white;
}

.suggestions::-webkit-scrollbar {
  width: 7px;
}

.suggestions::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.suggestions::-webkit-scrollbar-thumb {
  background: #bbb;
  height: 100px;
  border-radius: 10px;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestions li:hover {
  background-color: #e8f4f8;
  cursor: pointer;
}

.highlighted {
  background-color: #e8f4f8;
}

.inputField {
  font-size: 15px;
  width: 250px;    
  margin-top: 40px;
  line-height: 30px;
  align-self: center;
}

.inputField:focus {  
  outline: none;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.boxHeading {
  text-align: center;
}
